.cart-img {
    height: 36px;
    width: 36px;
}

.space-between {
    width: 75%;
    justify-content: space-between;
}

.cart-item {
    font-size: 28px;
    border-bottom: 1px solid black;
    justify-content: space-between;
}