@type List
$text-font-stack: 'Open Sans',
                  'Helvetica Neue Light',
                  'Helvetica Neue',
                  'Helvetica', 'Arial';

$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

$colors: (
  'black': #0D0D0D,
  'dark-gray': #6C6C6C,
);

$padding-sizes: (
  small: 15px,
  medium: 30px,
  large: 45px
);